.cartsummary{
    margin-right: 20px;
    @media (max-width: 640px){
        margin-right: 0;
    }
    &__wrapper{
        background-color: rgb(34, 34, 34);
        padding: 0 20px;
    }
    &__total{
        width: 100%;
        padding: 10px 0;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > div{
            padding: 10px 20px;
        }
        & span{
            font-size: 15px;
            text-transform: uppercase;
            margin-bottom: 4px;
        }
        & h2{
            font-size: 20px;
            margin-bottom: 4px;
        }
    }
    
}
