:root {
  --font: #f7f7f7;
  --font-lighter:#686868;
  --bg-gray: #f7f7f7;
  --bg-gray-darken: #dddcdb;
  --font-gray: #686868;
  --border-color: #CCCCCC;
  --border-color-lighter: #EEEEEE;
  --primary-color: #1976d2;
  --danger: #ff5252;
  --primary-transition: all .3s ease-in;
}
